body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(233, 230, 230, 0.938);
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
.title-section {
    display: flex;
    width: 80%;
    margin-top: 0;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 100px;
}
.mission-head {
    width: 50%;
}
.mission-head title {
    padding-right: 300px;
}
.mission-head p {
    text-align: justify;
}
.mission-head img{
    width: 400px;
    padding-left: 150px;
    margin-top: 40px;
}
.title-section h1 {
    border-left: 4px solid red;
    padding-left: 10px;
}
.mission {
    color: orange;
}
.explore-btn {
    background-color: orangered;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(239, 245, 238);

}
#align-center {
    text-align: center;
}
.mission-section {
    display: flex;
    width: 80%;
    margin-top: 0;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 100px;
}
.mission-stats {
    width: 33%;
    border: 1px solid hsla(10, 40%, 89%, 0.945);
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-right: 40px;
    margin-bottom: 150px;
    border-radius: 15px;
}
.mission-stats h2 {
    color: orange;
}
.mission-stats p {
    text-align: justify;
}
.box1 {
    box-shadow: 0 0 8px 4px rgba(201, 176, 176, 0.979);;
    background-color: rgba(239, 243, 239, 0.87);

}
.box2 {
    box-shadow: 0 0 8px 4px rgba(201, 176, 176, 0.979);
    background-color: rgba(248, 246, 246, 0.966);

}
.box3 {
    box-shadow: 0 0 8px 4px rgba(201, 176, 176, 0.979);
    background-color: rgba(235, 238, 241, 0.966);

}
.size-img {
    width: 200px;   
    padding-left: 50px; 
}
.develop-section {
    display: flex;
    width: 80%;
    margin-top: 0;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 100px;    
}
.develop-section p {
    text-align: left;
}
.develop img {
    width: 400px;
    padding-right: 50px;
}

.globe-community {
    display: flex;
    width: 80%;
    margin-top: 0;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 100px;
}
.globe-com {
    width: 50%;
}
.globe-com img {
    width: 300px;
    padding-left: 100px;
}
.globe-com p {
    text-align: left;
}
.service-section {
    display: flex;
    width: 80%;
    margin-top: 0;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 100px;
}
.service-section div {
    width: 50%;
    margin-right: 100px;
}
.services {
    font-size: 18px;
}
a.works {
    display: block;
    font-size: 18px;
}
#ex-works {
    border-left: 4px solid orange;
    padding-left: 200px;
}
.find-me {
    text-align: center;
    font-size: 25px;
    margin-top: 50;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 100px;
}
footer {
    background-color: black;
}
footer h1, p {
    text-align: center;
}
footer h1 {
    font-family:'Dancing Script', cursive; ;
    color: white;
    padding-top: 40px;
}
footer p {
    color: grey;
    font-size: 20px;
    padding-bottom: 50px;
}
